h1{font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}
nav{font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    }
.main{padding-right: 80px;
    padding-left:80px;
    padding-top:50px;
padding-bottom:50px;}

body{background-color: #BDE6E3;
        background-image: url(images/back.jpg);
        background-repeat: no-repeat;

        }
.logo{width:10%;
        padding: 5px;}

bryne2{width:50%}

.me{float: right;
    width:100%;}

p{font-size: 25px;}

footer{padding: 20px;}
\

.call{padding:10px;}
.email{padding: 10px;}

card{padding:15px;}

li{padding-right: 25px;}
